/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Offside", sans-serif;
  font-size: 16px;
  height: 100%;
  background: #7367f0;
  background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;

  @media (max-width: 980px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 480px) {
    grid-template-columns: none;
    gap: 1rem;
  }
}
